/* style.css */

* {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    color: black;
    text-align: center;
    font-family: "Brush Script MT";
}
.subtitle {
    color: black;
    text-align: center;
    font-family: "Brush Script MT";
}

p {
    color: black;
    text-align: center;
}

ul {
    color: black;
    text-align: center;
}

ol {
    color: black;
    text-align: center;
}

a {
    color: blueviolet;
}

img {
    height: auto;
    width: 300px;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}